@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

input:focus-visible,
select:focus-visible {
  outline: 0;
}

.fancybox__footer {
  display: none;
}

.overlay {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: .8;
  z-index: 12;
}

.voucher::before,
.voucher::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #ebebeb #ebebeb transparent;
  border-image: initial;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
}

.voucher::before {
  left: -6px;
  transform: rotate(-45deg);
}

.voucher::after {
  right: -6px;
  transform: rotate(135deg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}